@import "navbar", "galerias";

*{
    margin: 0%;
    padding: 0%;
}
$colores: (azul: #00438a, negro: black, blanco: white);


.flex-container {
    display: flex;
    margin: 5px;
    width: 100%;
    justify-content: space-between;
}

.flex-container a {
    text-decoration: none;
    color: map-get($map: $colores, $key: negro);
    transition-duration: 500ms;
    cursor: pointer;
        &:hover {color: map-get($map: $colores, $key: blanco);
        background-color: map-get($map: $colores, $key: azul);
    }
}

    


@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}
